html {
    font-family: sans-serif;
  }

  header {
    box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    
}
  
body {
    margin: 0px;
    display: flexbox;
    background-color: rgb(75, 199, 75);
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

main {
    display: flexbox;
    margin: 10px;
    height: 750px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.MePicture {
    display: flex;
    background-image: url("WoahCat_hang_niu.jpg");
    width: auto;
    height: auto;
    max-width: none;
    background-size: cover;
    border-radius: 15px;
    box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    border-color: #C74BC7;
    border-style: solid;
}

.UserQuestions {
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    height: 125px;
}

#navbar {
    background-color: #2aa562;
    color: #fff;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
    list-style: none;
}

nav ul li {
    display: flex;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

img {
    width: 100%; 
    height: 100%;
    max-width: none;
    background-size: cover;
    border-radius: 15px;
    box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}

form {
    display: flexbox;
    padding: 10px;
    margin: 10px;
    height: 125px;
    overflow-y: auto;
    border: 2px #e98181 solid;
  }
  
input[type="checkbox"] + span {
    font-weight: bold;
    font-style: italic;
    color: blue;
}
  
input[name="chk2"] + span {
    color: red;
}
  
form label {
    display: block;
    padding-bottom: 10px;
}

button {
    padding: 12px 20px;
    margin: 12px 20px;
    font-size: 16px;
    box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    width: auto;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer; /*Not neccessary on mobile view, move to media queries*/
    transition: opacity 1s ease; 
}

button.hidden {
    opacity: 0; 
}

.EmptySpace {
    content: "Undo";
    background-color: #3395FF;
}
