html {
    font-family: sans-serif;
  }

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(136, 226, 136);
    justify-content: center;
    align-items: center;
    margin: 0px;
}

header {
    box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    display: flex;
    justify-content: end;
    width: 100%;
    position: fixed;
    top: 0;
}
  
nav {
    background-color: #2aa562;
    display: flex;
    justify-content: end;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    padding-left: 5px;
    padding-right: 5px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

main {
    display: flex;
    flex-direction: column;
    max-height: 100%;
}

.MePicture {
    display: flex;
    background-image: url("WoahCat_hang_niu.jpg");
    background-size: cover;
    border-radius: 15px;
    box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    border-color: #C74BC7;
    border-style: solid;
    margin: 20px 10px 10px 10px;
}

img {
    width: 100%; 
    height: auto;
    max-width: none;
    background-size: cover;
    border-radius: 15px;
    box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}


.UserQuestions {
    display: flex;
    overflow-y: hidden;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.UserQuestions h1 {
    display: flex;
    justify-content: center;
    padding: 5px;
    color: white;
    background: rgba(250, 242, 242, 0.5);
    font-family: Arial, Helvetica;
    font-size: 20px;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
    text-align: justify;
    border-width: 1px;
    border: solid 3px black;
    border-radius: 15px;
}

.UserQuestions h1#text {
    opacity: 1;
}

button {
    font-size: 16px;
    box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer; /*Not neccessary on mobile view, move to media queries*/
    transition: opacity 1s ease; 
    width: 100%;
    margin-bottom: 5px;
}

button.hidden {
    opacity: 0; 
}

.EmptySpace {
    content: "Undo";
    background-color: #3395FF;
}
